body {
    display: flex;
    justify-content: center;
    /*padding: 1em; !* Adds a consistent offset around the content *!*/
    width: 80%; /* Takes up 80% of the viewport width */
    min-height: 100vh;
    font-family: Arial, sans-serif;
    max-width: 1800px; /* Optional max width for readability on larger screens */
    margin: auto; /* Centers body within the viewport */
    box-sizing: border-box;
    overflow: auto;
}